.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .card-img-top {
    width: 100%;
    height: auto; 
  }
  
  .card-body {
    padding: 15px;
  }
  .addproductbtn{
  color: rgb(11, 11, 55) !important;  
    background-color: yellow !important;
   
  }
  .addproduct{
    display: flex;
    justify-content:end;
    padding: 40px;
  }