

mat-sidenav-content{
    height: calc(205vh - 115vh);
  }
  mat-sidenav{
    background-color: rgb(11, 11, 55)  !important;
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  mat-toolbar{
    background-color:  rgb(11, 11, 55); ;
    color: yellow;
  }
  .sidenav{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  button{
    width: 100px;
  }
  .log-reg{
    padding: 50px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  }